.DS_Store
*.swp
*.swo
*.orig
.idea
ext/
.vscode

# Dependency folders
node_modules
bower_components

# temp and output
coverage/
docs/
tmp/
deploy/
dist/
manifest.json

#Configs
jsconfig.json

#logs
*.log
